header{
    width: 100%;
    height: 150px;
    background-color: #ff0000;
   
}
#logo{
    position: absolute;
    height: 150px;
    top: 20px;
}

.container{
    position: relative;
}

.header-black{
    background-color: #000;
    height: 40px;

}
.header-black li{
    display: inline-block;
}
.evas{
    height: 40px;
    width: 40px;
   
}
#menu{
    margin: 30px 0;
}
#menu li {
    display: inline-block;
    
}
#menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 10px 25px;
    
}
#menu nav{
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    
}

.search input{
    background-color: #a1000086 ;
    color: #fff;
    border: none;
    height: 30px;
    line-height: 30px;
}
.search ::-webkit-input-placeholder{
    color: #fff;
}
.search button{
    background: none;
    border: none;
    position: absolute;
    right: 1px;

}
.search i{
    color: rgb(255, 255, 255, .5);
}



