header{
    width: 100%;
    height: 150px;
    background-color: #ff0000da;
    z-index: 2;
    position: relative;
}

#logo{
    position: absolute;
    height: 150px;
    top: 20px;
    z-index: 3;
}
.container{
    position: relative;
}

.header-black{
    background-color: #000;
    height: 40px;

}
.header-black li{
    display: inline-block;
}
.evas{
    height: 40px;
    width: 40px;
    list-style: none;
   
}
#menu{
    margin: 30px 0;
}
#menu li {
    display: inline-block;
    
}
#menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 10px 25px;
    
}
#menu nav{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    
}

.search input{
    background-color: #a1000086 ;
    color: #fff;
    border: none;
    height: 30px;
    line-height: 30px;
}
.search ::-webkit-input-placeholder{
    color: #fff;
}
.search button{
    background: none;
    border: none;
    position: absolute;
    right: 1px;

}
.search i{
    color: rgb(255, 255, 255, .5);
}
#banner{
    width: 100%;
    height: 728px;
    position: relative;
    background-image: url(../img/banner.jpg);
    top: -110px;
    font-family: 'Open Sans', sans-serif;
}
#banner img{
    top: 110px;
    position: absolute;
    left: 720px; 
}
#banner h1{
    color: #fff;
    top: 300px;
    position: relative;
    font-size: 92px;
    padding-left: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .45);
}
#banner small{
    font-size: 32px;
    display: block;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .45);
}
#news{
    position: relative;
    top: -110px;
}
#news h2{
    color: #8B0000;
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
}
#news hr{
    border:#FF0000 solid 2px;
    width: 200px;
    margin: 0 auto;

}
#news .thumbs{
    margin-top: 20px;
}
#news img{
    width: 250px;
}
.thumbs h3{
    margin-top: 15px;
    color:#8B0000;
    font-size: 18px;
    font-family: 'Open Sans' ;
    font-weight: bold;
    margin-bottom: 0;
}
.thumbs time{
    color: #a7a7a7a4;
    font-size: 18px;
    font-family: 'Open Sans' ;
    font-weight: bold;
}
#statistics{
    margin-top: -40px;
    background-color:#8B0000;
    
    height: 200px;
    text-align: center;
}
#statistics p{
    color: #fde092;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    margin-top: 36px;
   
}
#statistics small{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    display: block;
}
#callToAction {
    text-align: center;
    margin-top: 105px;
}
#callToAction h2{
    color: #8B0000;
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
}
#callToAction hr{
    border:#FF0000 solid 2px;
    width: 200px;
    margin: 0 auto;

}
#callToAction p {
    margin-top: 60px;
    margin-bottom: 40px;
    color: #656565;

}
#callToAction .btn{
    min-width: 164px;
    height: 44px;
    line-height: 26px;
    border-radius: 0%;
}
.btnRed{
    color:#fde092;
    background-color: #8B0000;
    border-color: #8B0000;
    
}
.btnYellow{
    color:#8B0000 ;
    background-color:#fde092 ;
    border-color: #fde092;
}
#CallToAction .row-max-400{
    margin: 0 auto;
    max-width: 400px ;
}
footer{
    margin-top: 110px;
   
}
footer .row{
    width: 100%;
    padding-left: 10px;
    margin: 0%;
    
}
.row p{
    line-height: 51px;
    margin-bottom: 0%;
}
.rowLightGray{
    height: 200px;
    background-color: #171f26;
    
    
}
.rowdarkGray{
    height: 55px;
    background-color: #11171d;
    border-top: #242d37 1px solid;
    
}
.txYellow{
    color: #fde092c5;
    font-size: 14px;
}
.txRed{
    color:#8b0000d0 ;
    font-weight: bold;
    font-size: 14px;  
}
.logo{
    margin-top: 28px;
    height: 150px;
    top: 20px;
    
}
.popularPost, .links, .getInTouch{
    margin-top: 30px;
}
.finalCols h4{
    color:  #FF0000;
    font-size: 16px;
    padding-bottom: 17px;
    border-bottom: #242d37 1px solid;
}
.finalCols h5{
    color: #666;
    font-size: 14px;
    margin-bottom: 0;
}
.finalCols time{
    color: #fde092;
    font-size: 14px;
}
.finalCols ul{
    list-style: none;
}